@model List<ProductModel>



<table class="table">

    <thead>
        <tr>
         <th>Id</th>
        <th>Name</th>
         <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var p in Model)
        {
    
        <tr>
            <td>@p.Id</td>
                <td>@p.Name</td>
                <td>@p.Price</td>
    </tr>

        }
    </tbody>

</table>

<a asp-action="Create" class="btn btn-primary">Add Product</a>